body{
    text-align: center;
}

form{
    padding: 50px;
    display: inline-block;
    border-radius: 10%;
    background-color: azure;
}

input, select{
    display: block;
    margin: 5px auto;
    max-width: 100%;
    width: 100%;
}

.boton{
    display: inline-block;
    margin: 20px;
    padding: 10px;
    width: auto;
    border-style: outset;
    color: white;
}

#submit{
    background-color: #4CAF50;
}

#reset{
    background-color: #f44336;
}