body{
    margin: 0;
}

/*        header         */

.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
    background-image: url('img/header-background-indexed.png');
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
    font-size: 4em;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

/*            contenido                 */

.right , .left{
    margin-top: 15px;
    font-size: 1.2em;
}

/*         links          */
.links{
    width: 35%;
    float:right;
}

.links h3{
    text-align: center;
}

/*            descipcion         */
.descripcion{
    width: 64%;
    float:left;
    border-right: 2px solid grey;
}

.text, .imgs{
    display: inline-block;
    vertical-align: middle;
    width: 45%;
    text-align: center;
}

.img{
    vertical-align: middle;
    margin-top: 10px;
    display: block;
    width: 90%;
    height: auto;
    margin:auto;
    border-radius: 2%;
}

.imgs2 img{
    width: 45%;

}

/*              footer                      */

footer{
    clear: both;
    padding: 5px;
    background-color: #111;
}

footer p{
    color: #FFF;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .text , .img , .descripcion, .links, .imgs{
        float: none;
        display: block;
        width: 90%;
        margin: auto;
    }
    
    .descripcion{
        border-right: 0px;
    }
    
    .fila{
        border-top: 2px solid grey;
        margin-top: 5px;
        padding-top: 5px;
    }
    
    .imgs2 img{
        display: inline-block;
    }
}